*{
    margin: 0;
    padding: 0;
}

.textnone{
    visibility: hidden;
}

#hr1{
    width: 100%;
}

#fline{
    padding-left: 30px;
    height: 750px;
    font-weight: 700;
    overflow: auto;
}

.scrollchoose{
    
    white-space: pre-wrap;
}

#h4frame{
    font-weight: 700;
}