*{
    margin: 0;
    padding: 0;
}

.textnone{
    visibility: hidden;
}

#hr1{
    border-top: 1.5px solid blue;
    width: 100%;
    margin: 10px 0px;
}

#h4frame{
    font-weight: 700;
}

#scrollchoose{
    padding-top: 4px;
    overflow: auto;
    height: 780px;
}

#boxtop{
    padding-top: 4px;
}